body {
    background-color: black;
}
h1,table,p,option,select {
    color: white;
    text-align: center;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}
table {
    margin: 0 auto;
}
p,a {
    margin: 10px 0px;
    font-size: 36px;
}
option,select {
    background-color: black;
    font-size: 24px;
    border-radius: 4
    px;
}
h1 {
    font-size: 72px;
    margin: 20px;
}